@import "../App.scss";

.locationAnalytics {
  padding: 1rem 3rem 2rem 3rem;
  .headinglocation {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .mapAnalytics {
    background-color: white;
    margin: 2rem 0;
    padding: 1.5rem;
    border-radius: 10px;
    width: 800px;
    border: 1px rgb(224, 224, 224) solid;
    display: flex;
    .leftMap {
      .mapImg {
        padding-right: 2rem;
        height: 250px;
        width: 450px;
        overflow: hidden;
        border-right: 1px solid rgb(195, 195, 195);
      }
      .mapContent {
        width: 400px;
        margin-top: 1rem;
        font-size: 0.9rem;
      }
    }
    .rightMap {
      padding-top: 1rem;
      margin-left: 2rem;
      .polls {
        display: flex;
        gap: 1rem;

        p {
          margin: 0;
        }
        .device {
          @include Flex();
          width: 120px;
          height: 200px;
          flex-direction: column;
          background-color: #a1c2ff;
          color: #0039a3;
          border-radius: 8px;
          .count {
            font-size: 2rem;
            font-weight: 600;
          }
          .poleTitle {
            // font-size: 0.8rem;
            font-weight: 600;
            text-align: center;
          }
        }
        .devicePassed {
          background-color: #2773ff;
        }
      }
    }
  }

  .mapContainer {
    background-color: #ffa2a2;
    height: 300px;
    border-radius: 10px;
    @include Flex();
  }
}
