@import "../App.scss";

.manageDevice {
  padding: 1rem 3rem 2rem 3rem;
  .headinglocation {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 700;
  }

  .dataGridContainer {
    border-radius: 10px;
    margin-top: 2rem;
  }
}
